spring:
  application:
    name: spring-ai-chat-client

  # 总是执行数据库初始化脚本
  sql:
    init:
      mode: always

  # 数据库连接信息
  datasource:
    url: jdbc:postgresql://localhost:5434/postgresml
    username: postgres
    password: password

  # PostgresML Embedding 相关配置
  ai:
    model:
      # 因为引入了 openai, 也会带一个 openAiEmbeddingModel, 会与 postgresMlEmbeddingModel 冲突, 这里强制指定为 postgresml
      embedding: postgresml
    postgresml:
      embedding:
        create-extension: true # 自动创建扩展
        options:
          vector-type: pg_vector # 向量类型
    openai:
      base-url: https://dashscope.aliyuncs.com/compatible-mode
      api-key: ${QIANWEN_API_KEY}
    anthropic:
      api-key: ${ANTHROPIC_AUTH_TOKEN}
      base-url: http://127.0.0.1:3456

    # PgVector 向量存储相关配置
    vectorstore:
      pgvector:
        dimensions: 768 # 向量维度
        initialize-schema: true # 自动初始化 Schema

    # JDBC 聊天记忆相关配置
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always # 自动初始化 Schema
